@import 'global';

//rules
.dropbtn {
    background-color:$white;
    border:1px solid $border-grey;
    border-radius:0.1875em;
    color:$black;
    height:2.5em;
    font-family:$regular;
    font-size:0.9375em;
    cursor:pointer;
    width:9.4375em;
}

.dropbtn span {
    float:right;
    margin-right:20px;
    margin-top:5px;
}


.dropdown-icon {
    height:1.71933333em;
    float:left;
    margin:0.2em 0 0 0.66666667em;
    padding:0;
}

.dropdown {
    position:relative;
    display:inline-block;
    float:right;
    @extend .hover;
}

.dropdown-content {
    display:none;
    position:absolute;
    background-color:$white;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
}

.dropdown .dropdown-content {
    display:none;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a {
    color:black;
    font-family:$light;
    padding:0.5em 1em;
    text-decoration:none;
    display:block;
}

.dropdown-content a:hover {background-color: #ddd}