@import 'global';

//rules

section.faq {
	height:auto;
	background-color:$whiteish;
}

section.faq div.wrapper.header {
	height:237px;
	text-align:center;
}

section.faq div.wrapper.header div.heading-container {
	position:relative;
	top:50%;
	transform:translateY(-60%);
}

section.faq div.wrapper.body {
	height:auto;
	padding-bottom:5em;
}

section.faq div.wrapper.body div.container p {
	font-size:1.125em;
}


div.wrapper.faq.body div.faq-box-container.left {
	float:left;
	height:auto;
	margin:0.875em 0 0 0;
	position:relative;
	width:58%;
}

section.faq div.wrapper.faq.body div.faq-box-container div.faq-box-container-inner div.text-container h4 {
	background-color:red;
}

div.faq-box-container-inner {
	font-family:$regular;
	box-shadow: 0 0 17px 1px rgba(218,218,218,0.5);
}

div.faq-header-text-container {
	background-color:$white;
	color:$purple;
	font-family:$regular;
	font-size:1.125em;
	line-height:1.4375em;
	padding:1.875em 2.3125em;
}

div.faq-text-container {
	background-color:$white;
	font-family:$regular;
	font-size:1.125em;
	padding:0 2.3125em 1.875em 2.3125em;
	display:none;
}

div.faq-text-container p {
	color:$black;
	font-family:$light;
	font-size:0.875em;
	line-height:1.4375em;
}

div.faq-text-container.clicked {
	display:block;
}

//faq form rules

div.wrapper.faq.body div.faq-box-container.right {
	background-color:$white;
	box-shadow: 0 0 17px 1px rgba(218,218,218,0.5);
	font-family:$regular;
	float:right;
	height:387px;
	margin:0.875em 0 0 0;
	width:40%;
}

div.faq-form-inner-container {
	margin:0 auto;
	position:relative;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
	width:80%;
}

div.faq-form-inner-container h4 {
	color:$text;
	font-family:$light;
	font-size:1.125em;
	margin-bottom:2.8125em;

}

input.faq-input {
	border:none;
	border-bottom:1px solid $border-grey;
	margin:0.7em 0;
	padding:0.7em 0;
	width:100%;
}

input.faq-input::placeholder {
	color:$border-grey;
	font-family:$light;

}

button.faq-form-button {
	background-color:$purple-clear;
	border:0.0625em;
	border-radius:0.1875em;
	display:block;
	font-family:$regular;
	height:3.125em;
	margin:0 auto;
	position:relative;
	top:100px;
	width:160px;
	color:$white;
	@extend .hover;
}































