@import 'global';

//rules
header {
	background-color:$black;
	background-image: url("../../assets/home.jpg");
	background-repeat:no-repeat;
	background-position: 77% 10%;
	background-size:147em;
	height:50em;
}

nav {
	padding-top:2.05555556em;
}

nav div.container {
	height:2.6875em;
}

nav a {
	color:$white;
	font-family:$strong;
	font-size:0.875em;
	padding:0 0.5em;
	margin:0 1.24285714em;
	text-decoration:none;
	@extend .hover;
}

div.inner-container a.current {
	font-family:$bold;
}

nav div.container div.inner-container {
	float:right;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

div.inner-container a.get-in-touch {
	border:1px solid rgba(0, 0, 0, 0);
	border-radius:0.35714286em;
	padding:1.14285714em;
	@extend .hover;
}


div.inner-container a.get-a-quote{
	background-color:$purple-clear;
	border:1px $purple-clear solid;
	border-radius:0.35714286em;
	color:$white;
	margin:0;
	padding:1.14285714em 1.42em;
	@extend .hover;
}

div.wrapper div.text-container {
	float:right;
	position:absolute;
	right:10%;
	transform:translateY(77%);
}

div.wrapper div.text-container h1 {
	max-width:11.4375em;
}

div.text-container span {
	font-family:$bold;
}

header div.arrow-container {
	bottom:3.0625em;
	position:relative;
}

img.arrow {
	display:block;
	margin:0 auto;
	transform: rotate(180deg);
	width:1.5em;
}


