@import 'global';
@import 'form';

@media only screen and (max-width:410px) {

	section.form {
		height:125em;
		margin:0;
	}

	form input.right,
	select.right {
		margin-left:0;
	}

	form input.half,
	select.half {
		width:100%;
	}

	form input.full,
	form select.full {
		width:100%;
	}

}